<h1>Noticeboard</h1>

<%= link_to 'Create New Sticky Note', new_sticker_note_path, class: 'create-sticky-note-btn' %>


<div class="sticker-notes-container">
  <% @sticker_notes.each do |note| %>
    <div class="sticker-note">
      <h3><%= link_to note.title, sticker_note_path(note) %></h3>
      <p><%= truncate(note.content, length: 800) %></p>
      <small>Posted by <%= note.user.email %> on <%= note.created_at.strftime("%B %d, %Y") %></small>
    </div>
  <% end %>
</div>
