<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Digital Noticeboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    
    <!-- Add or update these lines -->
    <link rel="icon" type="image/png" href="/logo.png">
   
    <link rel="apple-touch-icon" sizes="180x180" href="/logo.png">
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

  </head>

  <body>

    <nav class="navbar <%= 'navbar-login' if current_page?(new_user_session_path) %>">
      <span class="navbar-title">NoticeBoard</span>
      <% if user_signed_in? %>
          <%= button_to 'Rides', rides_path, method: :get, data: { turbo: false }, class: 'btn page-button' %>
          <%= button_to 'For Sale', for_sale_path, method: :get, data: { turbo: false }, class: 'btn page-button' %>
          <%= button_to 'Housing', housing_path, method: :get, data: { turbo: false }, class: 'btn page-button' %>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-secondary' %>   
      <% end %>
    </nav>
  
    <%= yield %>
  </body>
</html>
